.entry-item {
    width: 600px;
    margin: 0 auto;
    display: flex;
}

.entry-img {
    border: solid 1px;
    width: 140px;
}

.entry-body {
    padding: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-bottom: solid 1px #b6b5b5;
}

.entry-foot {
    display: flex;
}

.entry-submit {
    color: #b6b5b5;
}

.entry-author {
    color: black;
}