.votes {
    display: flex;
    flex-direction: column;
    width: 30px;
    padding: 20px;
    text-align: center;
}

.votes-add{
    margin-bottom: 5px;
}

.votes-remove {
    margin-top: 5px;
}

.votes-num {
    color: #b6b5b5;
    font-weight: bold;
}

.votes button {
    height: 30px
}